@font-face {
    font-family: TrajanPro;
    src: url(/fonts/Trajan\ Pro.ttf);
}
@font-face {
    font-family: TrajanRegular;
    src: url(/fonts/TrajanPro-Regular.ttf);
}
@font-face {
    font-family: TrajanBold;
    src: url(/fonts/TrajanPro-Bold.otf);
}@font-face {
    font-family: LexendL;
    src: url(/fonts/Lexend-Light.ttf);
}
@keyframes one {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes two {
    from{top: 300px;}
    to{top: 100px;}
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes three {
    from{margin-left: 48%;}
    to{margin-left: 24%;}
    from{margin-right: -24%;}
    to{margin-right: 0%;}
}
body{
    background-image: url(/allHeroes/dota-2-logo-minimal-gray-background-dota2-creative.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "TrajanBold";
    margin: 0px;
    animation-name: one;
    animation-duration: 1s;
    background-color: black;
    position: relative;
}
.up{
    width: 97%;
    height: 4vw;
    background-color: rgb(255, 136, 0, .5);
    border: 5px solid black;
    border-radius: 60px;
    display: flex;
    justify-content: center;
}
.up img{
    width: 6vw;
    height: 90%;
}
.up:hover{
    background-color: rgb(255, 136, 0);

}.topnav ul li{
    display: inline-block;
    color: rgb(133, 133, 133);
    margin-left: 30px;
    font-size: 2.5vw;
    text-shadow: 2px black;
    cursor: pointer;
    letter-spacing: .3mm;
}
.topnav ul li:hover{
    color: white;
}
.topnav ul{
    display: fixed;
    margin-left: 30px;
    padding-top: 13px;
}
.dota2{
    float: left;
    margin-left: 20px;
    position:absolute;
    cursor: pointer;
}
.dota2:hover{
    width: 65px;
    margin-left: 15px;
    filter: brightness(1.5);
}
.topnav ul .How{
    border-bottom: 3px solid rgb(186, 121, 1);
    color: white;
}
.all{
    margin: 0px 0% 50px 24%;
    padding: 3vw;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 50PX ;
    font-size: 2vw;
    font-family: LexendL;
    animation-name: three;
    animation-duration: 1s;
}
.topdef, #map, #creeps, #heroes, #phases, #items{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    border-radius: 10px;
    margin: 0px 0px 50px 0px;
}
.topdef{
    margin-bottom: 0px;
}
.nav ul{
    padding: 0px ;
    text-align: center;
    position:fixed;
    left: 2vw;
    width: 22%;
    top: 100px;
    animation-name: two;
    animation-duration: 2s;
    z-index: 1;
}
.nav ul li{
    display:block;
    background-color:  rgba(0, 0, 0, 0.8);
    padding: 9px;
    text-align: center;
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(255, 210, 9);
    margin: 10px 0px;
}
.nav ul a{

    text-decoration: none;
}
.nav ul li:hover{
    background-color: rgb(190, 54, 0);
}
.all h1{
    font-size:5vw;
    color: rgb(255, 166, 0);
    text-align: center;
    text-shadow: .05em .05em .02em rgb(156, 76, 0);
}
.all h2{
    font-size:4vw;
    color: rgb(255, 166, 0);
    text-align: center;
    text-shadow: .05em .05em .02em rgb(156, 76, 0);
}
h3{

    font-size:3vw;
    color: rgb(255, 209, 124);
    text-shadow: .05em .05em .02em rgb(212, 103, 0);
}
strong{
    color: rgb(255, 166, 0);
    
}
#map{
    margin-top: 50px;
}